<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XMind2TestCase</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/custom.css') }}">
</head>
<body>
<div class="splash-container">
    <div class="splash">
        <h1>
            请输入手机号码，以便做手机初始化
        </h1>
        <div class="splash-head">
            <div class="select-xmind splash-subhead">
                <form method="post" enctype="multipart/form-data">
                    <input type="text" name="phone" />
                    <input type="submit" class="pure-button " value="初始化"/>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    document.getElementById("file").addEventListener("change", function () {
        if (this.value) {
            document.getElementById("file-label").innerHTML = this.value.split("\\").pop();
        }
    });

</script>


</body>
</html>
